:root {
	--thmBlue: #171923;
	--thmPink: #cbb2ab;
	--thmRed: #c31331;
	--thmYellow: #f79e1b;
	--thmBlack: #212121;
}

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Karla", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
